@teal-dark: #30534D;
@teal-dark-transparent: rgba(48, 83, 77, 0.5);
@teal: #4ECDC4;
@teal-light: #ADEEE3;
@gray-dark: #141414;
@gray: #3E3E3E;
@red-pastel: #F26C65;
@cedar-chest: #C75953;
@middle-red-purple: #390040;
@viridian-green: #068D9D;

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Mono', monospace;
  color: @gray-dark;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: @gray-dark;
}

a, li {
  font-family: 'Montserrat', sans-serif;
}


p {
  font-family: 'Montserrat', sans-serif;
  color: @gray-dark;

  a {
    color: @cedar-chest;
    font-weight: bold;
    text-decoration: underline;
  }

  a:hover {
    color: @teal-dark;
    background-color: @teal-light;
  }

  i {
    color: @cedar-chest;
  }
}

mark {
  background: none !important;
  color: @red-pastel;
  font-weight: bold;
}

ul {
  padding-inline-start: 0;
}

.gray {
  color: @gray;
}

.teal {
  color: @teal;
}

.teal-light {
  color: @teal-light;
}

.fill {
  height: 300px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @teal;
}

.highlight-text-red {
  color: @red-pastel;
}

.navbar {
  background-color: @teal-dark;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);

  .navbar-logo {
    height: 30px;
  }

  .navbar-toggler {
    border: none;
  }

  .nav-item {
    margin: 0 1em;
  }

  .nav-link {
    text-decoration: none;
    color: @teal !important;
    font-family: 'Roboto Mono', monospace;
  }

  .nav-link:hover {
    color: @teal-light !important;
    text-decoration: underline;
  }

}

.jumbotron {
  background-color: white;
  padding: 7rem 0;
}

.container {
  padding-top: 3rem;
}

.skills {
  li {
      list-style-type: none;
  }
}

#experience {
  .card {
    border: none;

    h6 {
      small {
        color: @red-pastel;
      }
    }

    .card-header {
      background-color: white;
      border: 0 0 1px 0 solid @teal-light;
      border-radius: 0px;
    }

    .card-header:hover {
      cursor: pointer;
      background-color: @teal-light;
        h6, small {
          color: @teal-dark;
        }
    }

  }
}

#work {
  button {
    border: 1px dashed @red-pastel;
    color: @red-pastel;
    margin: 0.5rem;
    font-family: 'Roboto Mono', monospace;
  }

  button:hover {
    color: @cedar-chest;
    border: 1px solid @cedar-chest;
  }

  .selected {
    background-color: @red-pastel;
    color: white;
    border: 1px solid @cedar-chest;
  }

  .selected:hover {
    color: white;
  }

  .card {
    border: none;
    cursor: pointer;

    .card-img-overlay {
      display: none;

      button.skillTag {
        color: white;
        background-color: @teal-dark-transparent;
        border: 1px solid @teal-dark;
        border-radius: 2px;
        font-size: 0.75rem;
        cursor: default;
        padding: 0;
        margin: 2px;
      }

    }

  }

  .card:hover {
    background-color: @teal-light;

    .card-img-overlay {
      display: grid;
      grid-template-rows: 25% 40% 15% 20%;
    }

    .card-text {
      grid-row-start: 4;
      grid-row-end: 5;
    }

  }

  .card.hidden {
    display: none;
  }

}

.carousel-item {
  max-height: 100%;
  text-align: center;

  .img-fluid {
    max-height: 70vh;
  }
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgba(0,0,0, 0.2)
}

.contact {
  background-color: @teal-light;
  padding-bottom: 3em;

  .contact-link {
    text-align: center;
  }

}
