h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Mono', monospace;
  color: #141414;
}
p {
  font-family: 'Montserrat', sans-serif;
  color: #141414;
}
.navbar {
  background-color: #30534D;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-logo {
  height: 30px;
}
.navbar .nav-item {
  margin: 0 1em;
}
.navbar .nav-link {
  text-decoration: none;
  color: #4ECDC4 !important;
  font-family: 'Roboto Mono', monospace;
}
.navbar .nav-link:hover {
  color: #ADEEE3 !important;
  text-decoration: underline;
}
.jumbotron {
  background-color: white;
}
.portrait {
  width: 400px;
}
