h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Mono', monospace;
  color: #141414;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #141414;
}
a,
li {
  font-family: 'Montserrat', sans-serif;
}
p,
.card {
  font-family: 'Montserrat', sans-serif;
  color: #141414;
}
p a,
.card a {
  color: #C75953;
  font-weight: bold;
  text-decoration: underline;
}
p a:hover,
.card a:hover {
  color: #30534D;
  background-color: #ADEEE3;
}
p i,
.card i {
  color: #C75953;
}
mark {
  background: none !important;
  color: #F26C65;
  font-weight: bold;
}
ul {
  padding-inline-start: 0;
}
.gray {
  color: #3E3E3E;
}
.teal {
  color: #4ECDC4;
}
.teal-light {
  color: #ADEEE3;
}
.fill {
  height: 200px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4ECDC4;
}
.highlight-text-red {
  color: #F26C65;
}
.navbar {
  background-color: #30534D;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-logo {
  height: 30px;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .nav-item {
  margin: 0 1em;
}
.navbar .nav-link {
  text-decoration: none;
  color: #4ECDC4 !important;
  font-family: 'Roboto Mono', monospace;
}
.navbar .nav-link:hover {
  color: #ADEEE3 !important;
  text-decoration: underline;
}
.jumbotron {
  background-color: white;
  padding: 7rem 0;
}
.container {
  padding-top: 3rem;
}
.skills li {
  list-style-type: none;
}
#experience .card {
  border: none;
}
#experience .card h6 small {
  color: #F26C65;
}
#experience .card .card-header {
  background-color: white;
  border: 0 0 1px 0 solid #ADEEE3;
  border-radius: 0px;
}
#experience .card .card-header:hover {
  cursor: pointer;
  background-color: #ADEEE3;
}
#experience .card .card-header:hover h6,
#experience .card .card-header:hover small {
  color: #30534D;
}
#projects button {
  border: 1px dashed #F26C65;
  color: #F26C65;
  margin: 0.5rem;
  font-family: 'Roboto Mono', monospace;
}
#projects button:hover {
  color: #C75953;
  border: 1px solid #C75953;
}
#projects .selected {
  background-color: #F26C65;
  color: white;
  border: 1px solid #C75953;
}
#projects .selected:hover {
  color: white;
}
#projects .card {
  border: none;
  cursor: pointer;
}
#projects .card .card-img-overlay {
  display: none;
}
#projects .card .card-img-overlay button.skillTag {
  color: white;
  background-color: rgba(48, 83, 77, 0.5);
  border: 1px solid #30534D;
  border-radius: 2px;
  font-size: 0.75rem;
  cursor: default;
  padding: 0;
  margin: 2px;
}
#projects .card:hover {
  background-color: #ADEEE3;
}
#projects .card:hover .card-img-overlay {
  display: grid;
  grid-template-rows: 25% 40% 15% 20%;
}
#projects .card:hover .card-text {
  grid-row-start: 4;
  grid-row-end: 5;
}
#projects .card.hidden {
  display: none;
}
.carousel-item {
  max-height: 100%;
  text-align: center;
}
.carousel-item .img-fluid {
  max-height: 70vh;
}
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgba(0, 0, 0, 0.2);
}
.contact {
  background-color: #ADEEE3;
  padding-bottom: 3em;
}
.contact .contact-link {
  text-align: center;
}
